html{
    text-align: center;
}
.parent{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: hsla(214, 17%, 84%, 0.185);
}
.new_product{
    position: relative;
    width:7rem;
    top: -19rem;
}
.shoe{
    width: 25rem;
    position: relative;
    left: -2rem;
    
}

#slider{
    font-size: 4rem;
}

#prev{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 10rem;
    left: -0.5rem;
    user-select: none;
}
#prev:hover{
    color: red;
    cursor: pointer;
}
#next{
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 10rem;
    left: 28.7rem;
    user-select: none;
}
#next:hover{
    color: red;
    cursor: pointer;
}

.order{
    padding-top: 15rem;
}
.info{
    position: relative;
    top: 28rem;
}


.hide{
    display: none;
}

.show{
    display: block;
}